{% extends 'my_app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Cart{% endblock %}

{% block page_css %}
    <link href="{% static 'css/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="site-container">
    <div class="content">
        <h1>Your Cart</h1>
        <ul class="cart-items">
            {% for item in cart_items %}
                <li class="cart-item">
                    <div class="item-details">
                        <div class="item-image">
                            {% if item.wine.image %}
                                <img src="{{ item.wine.image.url }}" alt="{{ item.wine.Name }}">
                            {% endif %}
                            {% if item.spirit.image %}
                                <img src="{{ item.spirit.image.url }}" alt="{{ item.spirit.Name }}">
                            {% endif %}
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                {% if item.wine %}
                                    {{ item.wine.Name }}
                                {% else %}
                                    {{ item.spirit.Name }}
                                {% endif %}
                            </div>
                            <div class="item-quantity">
                                {% if item.quantity > 1 %}
                                    {{ item.quantity }} bottles - {{ item.price|floatformat:2 }} RON each
                                {% else %}
                                    {{ item.quantity }} bottle
                                {% endif %}
                            </div>
                            <div class="item-total-price">
                                    Total: {{ item.price|floatformat:2|multiply:item.quantity }} RON
                            </div>
                        </div>
                    </div>
                    <form method="post" action="{% url 'remove_from_cart' item.id %}" class="remove-form">
                        {% csrf_token %}
                        <p style="font-size: 17px; margin-right: 0.5rem;">Quantity to remove: </p>
                        <input type="number" name="quantity" value="1" min="1" max="{{ item.quantity }}" class="small-input text-center">
                        <button type="submit"><span>Remove</span></button>
                    </form>
                </li>
            {% empty %}
                <li style="align-items: center; font-weight: 600;">Your cart is empty.</li>
            {% endfor %}
        </ul>
        <div class="checkout">
            {% if cart_items %}
                <p class="total-value">Total: {{ total_value|floatformat:2 }} RON</p>
                <a href="{% url 'checkout' %}"><button class="btncheckout">
                    <span class="btncheckout-text-one">Proceed to Checkout</span>
                    <span class="btncheckout-text-two">Thank You!</span>
                </button></a>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}