<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.2/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.10.2/dist/cdn.min.js" defer></script>
</head>
<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden; /* Hide the scrollbar */
        background-image: url("{% static 'images/contact/contactbackground4.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>
<body>
    {% include 'my_app/header.html' %}
    <main>
    <!-- Page Content -->
    <div class="content">
        <div class="locationtext">
            <p class="py-1">Location</p>
            <div class="imagesize">
                <a target="_blank" href="https://www.google.com/maps/place/Profu%E2%80%99+de+Vin/@46.1701967,21.3145664,1162m/data=!3m1!1e3!4m6!3m5!1s0x4745997f80e7b9b3:0x7e8ac4a3a8c21bde!8m2!3d46.1698067!4d21.3155628!16s%2Fg%2F11wr3m7rf5?hl=en&entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D">
                    <img src="{% static 'images/location/locationfinal.png' %}" alt="Location" class="imagesize" loading="lazy">
                </a>
            </div>
        </div>
        <div class="working-hours">
            <p>Working Hours</p>
            <p>Monday - Saturday: 10:00 - 21:00</p>
            <p>Sunday: Closed</p>
        </div>
    </div>
    <div class="social-links-container">
        <a href="https://www.instagram.com/profudevin/?hl=ro" target="_blank" class="social-links">
            <img src="{% static 'images/contact/instagram.png' %}" alt="Instagram" class="social-icon" loading="lazy">
            <span class="bounce-text">Instagram</span>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61560956272852" target="_blank" class="social-links">
            <img src="{% static 'images/contact/facebook.png' %}" alt="Facebook" class="social-icon" loading="lazy">
            <span class="bounce-text">Facebook</span>
        </a>
    </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const socialLinks = document.querySelectorAll('.social-links');

            socialLinks.forEach(link => {
                link.addEventListener('mouseover', function() {
                    link.querySelector('.social-icon').classList.add('bounce');
                    link.querySelector('.bounce-text').classList.add('bounce');
                });

                link.addEventListener('mouseout', function() {
                    link.querySelector('.social-icon').classList.remove('bounce');
                    link.querySelector('.bounce-text').classList.remove('bounce');
                });
            });

            const images = document.querySelectorAll('.imagesize');

            images.forEach(image => {
                image.addEventListener('mouseover', function() {
                    image.classList.add('enlarge');
                });

                image.addEventListener('mouseout', function() {
                    image.classList.remove('enlarge');
                });
            });
        });
    </script>
    <script>
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>
</body>
</html>