<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
    }

    .footer {
        background-color: #6b1842;
        color: white;
        padding: 1rem 0;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
    }
</style>
<footer class="footer bg-gray-800 text-white py-4 mt-10">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <a href="{% url 'terms_and_conditions' %}" class="footer-link text-white hover:text-gray-400">Terms and Conditions</a>
            <span class="mx-2">|</span>
            <a href="{% url 'confidentiality_policy' %}" class="footer-link text-white hover:text-gray-400">Confidentiality Policy</a>
        </div>
        <div>
            <p class="text-sm">&copy; 2024 Profu De' Vin. All rights reserved.</p>
        </div>
    </div>
</footer>