<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    main {
        flex: 1;
    }
    .footer {
        background-color: #6b1842;
        color: white;
        padding: 1rem 0;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .footer-link {
        color: white;
        text-decoration: none;
    }
    .footer-link:hover {
        text-decoration: underline;
    }
    .pads{
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    @media(min-width: 1900px) {
        .pads{
            padding-left: 24.375rem;
        }
    }
    .cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #444;
        color: #fff;
        padding: 15px;
        text-align: center;
        z-index: 1000;
        opacity: 99%;
    }
    .cookie-banner button {
        background-color: #6b1842;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.25s;
    }
    .cookie-banner button:hover {
        background-color: #4f0f2b;
    }
</style>
<footer class="footer bg-gray-800 text-white py-4 mt-10">
    <div class="">
        <div>
            <a href="{% url 'terms_and_conditions' %}" class="footer-link">Terms and Conditions</a>
            <span class="mx-2">|</span>
            <a href="{% url 'confidentiality_policy' %}" class="footer-link">Confidentiality Policy</a>
            <span class="mx-2">|</span>
            <a href="{% url 'cookies_policy' %}" class="footer-link">Cookies Policy</a>
            <span class="mx-2">|</span>
            <button onclick="withdrawConsent()" class="footer-link">Cookies Consent</button>
        </div>
        <div>
            <p class="text-sm">&copy; 2024 Profu De' Vin. All rights reserved.</p>
        </div>
    </div>
</footer>
<div class="cookie-banner" id="cookie-banner" style="display:none;">
    This website uses cookies to ensure you get the best experience on our website. Check our <a href="{% url 'cookies_policy' %}" class="footer-link">Cookies Policy</a> for more information.
    <button onclick="acceptCookies()">Accept</button>
    <button onclick="declineCookies()">Decline</button>
</div>
<script>
    function setCookie(name, value, seconds) {
        var expires = "";
        if (seconds) {
            var date = new Date();
            date.setTime(date.getTime() + (seconds * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function acceptCookies() {
        setCookie('cookiesAccepted', 'true', 1209600); // Expires in 30 days
        document.getElementById('cookie-banner').style.display = 'none';
    }

    function declineCookies() {
        setCookie('cookiesAccepted', 'false', 1209600); // Expires in 30 days
        document.getElementById('cookie-banner').style.display = 'none';
    }

    function withdrawConsent() {
        setCookie('cookiesAccepted', '', -1); // Delete the cookie
        document.getElementById('cookie-banner').style.display = 'block';
    }

    window.addEventListener('load', function() {
        if (getCookie('cookiesAccepted') === 'true') {
            document.getElementById('cookie-banner').style.display = 'none';
        } else {
            document.getElementById('cookie-banner').style.display = 'block';
        }
    });

    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    });
</script>