<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body>
    <section class="section">
        <div class="relative max-w-md mx-auto">
            <h2 class="title">Reset Password</h2>
            <div>
                <p style="margin-bottom: 0.5rem;">Enter your account email address and we'll send you a link to reset your password.</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-input">
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>
                <button type="submit" class="submitbutton">Send Password Reset Email</button>
            </form>
        </div>
    </section>
</body>
</html>