{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="relative max-w-md mx-auto">
        <h2 class="title">Reset Password</h2>
        <div>
            <p style="margin-bottom: 0.5rem;">Enter your account email address and we'll send you a link to reset your password.</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-input">
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="submitbutton">Send Password Reset Email</button>
        </form>
    </div>
</section>
{% endblock %}