<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/password_reset_complete.css' %}" rel="stylesheet">
</head>
<body>
    <section class="section">
        <div class="relative max-w-md mx-auto">
            <h2 class="title">Password Reset Complete</h2>
            <p class="message">Your password has been successfully reset. You can now <a href="{% url 'login' %}" class="link">log in</a> with your new password.</p>
        </div>
    </section>
</body>
</html>