{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="relative max-w-md mx-auto">
        <h2 class="title">Reset Your Password</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert" role="alert">
                    <strong>Invalid Credentials!</strong>
                    <span class="block sm:inline">{{ form.non_field_errors }}</span>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                                <span>Your password must contain an uppercase letter, a digit, any special characters ( @#$%^&* ) and be at least 8 characters long.</span>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="form-input">
                <input type="password" name="new_password1" placeholder="New Password" required>
            </div>
            <div class="form-input">
                <input type="password" name="new_password2" placeholder="Confirm New Password" required>
            </div>
            <button type="submit" class="submitbutton">Reset Password</button>
        </form>
    </div>
</section>
{% endblock %}