{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block page_css %}
<link href="{% static 'css/password_reset_complete.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="section">
    <div class="relative max-w-md mx-auto">
        <h2 class="title">Password Reset Complete</h2>
        <p class="message">Your password has been successfully reset. You can now <a href="{% url 'login' %}" class="link">log in</a> with your new password.</p>
    </div>
</section>
{% endblock %}