{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block body_class %}product-list-bg{% endblock %}

{% block page_css %}
    <link href="{% static 'css/product_list.css' %}" rel="stylesheet">
    <style>
        body.product-list-bg {
            background-image: url("{% static 'images/contact/contactbackground5.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="site-container">
        <div class="content">
            <div class="imagesize">
                <a href="{% url 'wine_list' %}">
                    <img src="{% static 'images/productlist/wine.jpg' %}" alt="Wines" class="imagesize" loading="lazy">
                    <div class="text-overlay">Wines</div>
                </a>
            </div>
            <div class="content2">
                <div class="imagesize">
                    <a href="{% url 'spirit_list' %}">
                        <img src="{% static 'images/productlist/spirits.jpg' %}" alt="Spirits" class="imagesize" loading="lazy">
                        <div class="text-overlay">Spirits</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const images = document.querySelectorAll('.imagesize');
            images.forEach(image => {
                image.addEventListener('mouseover', function() {
                    image.classList.add('enlarge');
                });
                image.addEventListener('mouseout', function() {
                    image.classList.remove('enlarge');
                });
            });
        });
    </script>
{% endblock %}
