<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Spirit List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/spirit_list.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.2/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.10.2/dist/cdn.min.js" defer></script>
</head>

<body>
    {%  include 'my_app/header.html' %}
    <main>
    <div class="content">
        {% if messages %}
        <div class="messages" id="message-box">
            <ul>
                {% for message in messages %}
                    {% if 'cartadd-error' in message.tags %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="messages" id="ajax-message-box" style="display: none;">
            <ul id="ajax-messages-list"></ul>
            <button class="close-btn" onclick="document.getElementById('ajax-message-box').style.display='none'">Close</button>
        </div>
        <div class="header-container">
            <h1 class="headertext">Spirit List</h1>
            <form method="GET" class="search-form">
                <input type="text" id="search-bar" name="search" placeholder="Search by name" value="{{ search_query }}">
                <input type="hidden" name="type" value="{{ type_filter }}">
                <input type="hidden" name="style" value="{{ style_filter }}">
                <input type="hidden" name="alcohol" value="{{ alcohol_filter }}">
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <button type="submit">Search</button>
            </form>
        </div>
        <button class="toggle-button buttonfilter" onclick="toggleFilters()"><span>Toggle Filters</span></button>
        <form method="GET" class="filter-form" id="filter-form">
            <select name="type" onchange="this.form.submit()">
                <option value="">All Types</option>
                {% for type in type_choices %}
                    <option value="{{ type }}" {% if type|stringformat:"s" == type_filter|stringformat:"s" %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
            <select name="style" onchange="this.form.submit()">
                <option value="">All Styles</option>
                {% for style in style_choices %}
                    <option value="{{ style }}" {% if style|stringformat:"s" == style_filter|stringformat:"s" %}selected{% endif %}>{{ style }}</option>
                {% endfor %}
            </select>
            <select name="alcohol" onchange="this.form.submit()">
                <option value="">All Alcohol Levels</option>
                {% for alcohol in alcohol_choices %}
                    <option value="{{ alcohol }}" {% if alcohol|stringformat:"s" == alcohol_filter|stringformat:"s" %}selected{% endif %}>{{ alcohol }}%</option>
                {% endfor %}
            </select>
            <select name="sort_by" onchange="this.form.submit()">
                <option value="">Sort By</option>
                <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
                <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
            </select>
            <a href="{% url 'spirit_list' %}" class="reset-button">Reset Filters</a>
        </form>
        <ul class="spirit-container">
            {% for spirit in spirits %}
                <li class="spirit-item">
                    <div class="spirit-text">
                        <h2 style="font-size: 20px; font-weight: 700; font-style: italic; text-decoration: underline;">{{ spirit.Name }}</h2>
                        <p style="font-weight: 500;">Type: {{ spirit.Type }}</p>
                        {% if spirit.Style %}
                            <p style="font-weight: 500;">Style: {{ spirit.Style }}</p>
                        {% endif %}
                        <p style="font-weight: 500;">Alcohol Level: {{ spirit.AlcLvl }}%</p>
                        {% if spirit.Qty > 1 %}
                            <p style="font-weight: 500;">Available: {{ spirit.Qty }} bottles</p>
                        {% else %}
                            {% if spirit.Qty == 1 %}
                                <p style="font-weight: 500;">Available: {{ spirit.Qty }} bottle</p>
                            {% endif %}
                        {% endif %}
                        {% if spirit.Qty == 0 %}
                            <p style="color: red; font-weight: bold;">Out of stock</p>
                        {% endif %}
                        <p style="font-weight: 500;">Price: {{ spirit.Price }} RON</p>
                        {% if user.is_authenticated %}
                        <form action="{% url 'add_to_cart' 'spirit' spirit.ID %}" method="post">
                            {% csrf_token %}
                            <label for="quantity" style="font-weight: 500;">Quantity to order:</label>
                            <input type="number" id="quantity" name="quantity" min="1" value="1" class="small-input text-center">
                            <div style="display: flex; gap: 10px;">
                                <button type="submit" class="buttonadd" style="font-weight: 500;">Add to Cart</button>
                                {% if user.is_staff %}
                                    <button type="button" class="buttonedit" style="font-weight: 500;" onclick="openEditModal('{{ spirit.ID }}', '{{ spirit.Name }}', '{{ spirit.Price }}', '{{ spirit.Qty }}')">Edit spirit</button>
                                {% endif %}
                            </div>
                        </form>
                        {% else %}
                        <p style="font-weight: bold;">Login to add to cart</p>
                        {% endif %}
                    </div>
                    {% if spirit.image %}
                        <div>
                            <img src="{{ spirit.image.url }}" alt="{{ spirit.Name }}" class="spirit-image" loading="lazy">
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const descriptions = document.querySelectorAll('.description');
            descriptions.forEach(description => {
                description.style.webkitLineClamp = '3'; // Set initial value
                description.addEventListener('click', function() {
                    if (this.style.webkitLineClamp === '3') {
                        this.style.webkitLineClamp = 'unset';
                    } else {
                        this.style.webkitLineClamp = '3';
                    }
                });
            });
        });

        document.getElementById('search-bar').addEventListener('input', function() {
            var filter = this.value.toLowerCase();
            var spiritItems = document.querySelectorAll('.spirit-item');
        
            spiritItems.forEach(function(item) {
                var spiritName = item.querySelector('h2').textContent.toLowerCase();
                if (spiritName.includes(filter)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });

        document.querySelectorAll('.buttonadd').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const form = this.closest('form');
                const url = form.action;
                const formData = new FormData(form);

                fetch(url, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                })
                .then(response => response.json().then(data => ({ status: response.status, body: data })))
                .then(({ status, body }) => {
                    if (status === 200) {
                        document.querySelector('.cart-count').textContent = body.cart_item_count;
                        document.getElementById('ajax-message-box').style.display = 'none';
                    } else {
                        const messageBox = document.getElementById('ajax-message-box');
                        const messageList = document.getElementById('ajax-messages-list');
                        messageList.innerHTML = `<li class="cartadd-error">${body.error}</li>`;
                        messageBox.style.display = 'block';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
    <script>
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>
    <script>
        function toggleFilters() {
            const filterForm = document.getElementById('filter-form');
            filterForm.classList.toggle('show');
        }
    </script>
    </main>
    <div id="editSpiritModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-5 rounded-lg w-1/2">
            <h2 class="text-xl font-bold mb-4">Edit Spirit</h2>
            <form id="editSpiritForm" method="post">
                {% csrf_token %}
                <input type="hidden" id="spiritId" name="spirit_id">
                <div class="mb-4">
                    <label for="spiritName" class="block text-sm font-medium text-gray-700">Name</label>
                    <input type="text" id="spiritName" name="name" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="mb-4">
                    <label for="spiritPrice" class="block text-sm font-medium text-gray-700">Price (RON)</label>
                    <input type="number" id="spiritPrice" name="price" step="0.01" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="mb-4">
                    <label for="spiritQty" class="block text-sm font-medium text-gray-700">Quantity</label>
                    <input type="number" id="spiritQty" name="quantity" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeModal" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancel</button>
                    <button type="button" class="bg-red-500 text-white px-4 py-2 mr-2 rounded" style="font-weight: 500;" onclick="deleteSpirit()">Delete spirit</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function openEditModal(spiritId, spiritName, spiritPrice, spiritQty) {
            document.getElementById('spiritId').value = spiritId;
            document.getElementById('spiritName').value = spiritName;
            document.getElementById('spiritPrice').value = spiritPrice;
            document.getElementById('spiritQty').value = spiritQty;
            document.getElementById('editSpiritModal').classList.remove('hidden');
        }
    
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('editSpiritModal').classList.add('hidden');
        });
    
        document.getElementById('editSpiritForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const spiritId = document.getElementById('spiritId').value;
            const spiritName = document.getElementById('spiritName').value;
            const spiritPrice = document.getElementById('spiritPrice').value;
            const spiritQty = document.getElementById('spiritQty').value;
    
            fetch(`/edit_spirit/${spiritId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    name: spiritName,
                    price: spiritPrice,
                    quantity: spiritQty
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    console.error('Failed to update spirit:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
    <script>
        function deleteSpirit() {
            const spiritId = document.getElementById('spiritId').value;
            fetch(`/edit_spirit/${spiritId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ action: 'delete' })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    console.error('Failed to delete spirit:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
{%  include 'my_app/footer.html' %}
</html>