<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load custom_filters %}
    <title>Wine List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/wine_list.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.2/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.10.2/dist/cdn.min.js" defer></script>
</head>

{% include 'my_app/header.html' %}
<body>
    
    <main>
    <div class="content">
        {% if messages %}
        <div class="messages" id="message-box">
            <ul>
                {% for message in messages %}
                    {% if 'cartadd-error' in message.tags %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="messages" id="ajax-message-box" style="display: none;">
            <ul id="ajax-messages-list"></ul>
            <button class="close-btn" onclick="document.getElementById('ajax-message-box').style.display='none'">Close</button>
        </div>
        <div class="header-container">
            <h1 class="headertext">Wine List</h1>
            <form method="GET" class="search-form">
                <input type="text" id="search-bar" name="search" placeholder="Search by name" value="{{ search_query }}">
                <input type="hidden" name="year" value="{{ year_filter }}">
                <input type="hidden" name="type" value="{{ type_filter }}">
                <input type="hidden" name="country" value="{{ country_filter }}">
                <input type="hidden" name="region" value="{{ region_filter }}">
                <input type="hidden" name="grapes" value="{{ grapes_filter }}">
                <input type="hidden" name="sort_by" value="{{ sort_by }}">
                <button type="submit">Search</button>
            </form>
        </div>
        <button class="toggle-button buttonfilter" onclick="toggleFilters()"><span>Toggle Filters</span></button>
        <form method="GET" class="filter-form" id="filter-form">
            <select name="year" onchange="this.form.submit()">
                <option value="">All Years</option>
                {% for year in year_choices %}
                    <option value="{{ year }}" {% if year|stringformat:"s" == year_filter|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <select name="type" onchange="this.form.submit()">
                <option value="">All Types</option>
                {% for type in type_choices %}
                    <option value="{{ type }}" {% if type|stringformat:"s" == type_filter|stringformat:"s" %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
            <select name="country" onchange="this.form.submit()">
                <option value="">All Countries</option>
                {% for country in country_choices %}
                    <option value="{{ country }}" {% if country|stringformat:"s" == country_filter|stringformat:"s" %}selected{% endif %}>{{ country }}</option>
                {% endfor %}
            </select>
            <select name="region" onchange="this.form.submit()">
                <option value="">All Regions</option>
                {% for region in region_choices %}
                    <option value="{{ region }}" {% if region|stringformat:"s" == region_filter|stringformat:"s" %}selected{% endif %}>{{ region }}</option>
                {% endfor %}
            </select>
            <select name="grapes" onchange="this.form.submit()">
                <option value="">All Grapes</option>
                {% for grapes in grapes_choices %}
                    <option value="{{ grapes }}" {% if grapes|stringformat:"s" == grapes_filter|stringformat:"s" %}selected{% endif %}>{{ grapes }}</option>
                {% endfor %}
            </select>
            <select name="sort_by" onchange="this.form.submit()">
                <option value="">Sort By</option>
                <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price: Low to High</option>
                <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price: High to Low</option>
            </select>
            <a href="{% url 'wine_list' %}" class="reset-button">Reset Filters</a>
        </form>
        <ul class="wine-container">
            {% for wine in wines %}
                <li class="wine-item">
                    <div class="wine-text">
                        <h2 style="font-size: 20px; font-weight: 700; font-style: italic; text-decoration: underline;">{{ wine.Name }}</h2>
                        <p style="font-weight: 500;">Type: {{ wine.Type }}</p>
                        {% if wine.Year != 0 %}
                            <p style="font-weight: 500;">Year: {{ wine.Year }}</p>
                        {% endif %}
                        {% if wine.Grapes %}
                            <p style="font-weight: 500;">Grapes: {{ wine.Grapes }}</p>
                        {% endif %}
                        <p style="font-weight: 500;">Origin: {{ wine.Country }}</p>
                        {% if wine.Region %}
                            <p style="font-weight: 500;">Region: {{ wine.Region }}</p>
                        {% endif %}
                        <div class="description">
                            <p style="font-weight: 500;">Description: {{ wine.Description }}

                                <span class="tooltip-text">CLICK FOR MORE</span>
                            </p>
                        </div>
                        {% if wine.Qty > 1 %}
                            <p style="font-weight: 500;">Available: {{ wine.Qty }} bottles</p>
                        {% else %}
                            {% if wine.Qty == 1 %}
                                <p style="font-weight: 500;">Available: {{ wine.Qty }} bottle</p>
                            {% endif %}
                        {% endif %}
                        {% if wine.Qty == 0 %}
                            <p style="color: red; font-weight: bold;">Out of stock</p>
                        {% endif %}
                        <p style="font-weight: 500;">Price: {{ wine.Price }} RON</p>
                        {% if user.is_authenticated %}
                        <form action="{% url 'add_to_cart' 'wine' wine.ID %}" method="post">
                            {% csrf_token %}
                            <label for="quantity" style="font-weight: 500;">Quantity to order:</label>
                            <input type="number" id="quantity" name="quantity" min="1" value="1" class="small-input text-center">
                            <div style="display: flex; gap: 10px;">
                                <button type="submit" class="buttonadd" style="font-weight: 500;">Add to Cart</button>
                                {% if user.is_superuser or user|has_group:"Product Population"  %}
                                    <button type="button" class="buttonedit" style="font-weight: 500;" onclick="openEditModal('{{ wine.ID }}', '{{ wine.Name }}', '{{ wine.Price }}', '{{ wine.Qty }}')">Edit wine</button>
                                {% endif %}
                            </div>
                        </form>
                        {% else %}
                        <p style="font-weight: bold;">Login to add to cart</p>
                        {% endif %}
                    </div>
                    {% if wine.image %}
                        <div>
                            <img src="{{ wine.image.url }}" alt="{{ wine.Name }}" class="wine-image" loading="lazy">
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const descriptions = document.querySelectorAll('.description');

            descriptions.forEach(description => {
                const tooltip = description.querySelector('.tooltip-text');
                let isTooltipVisible = false;

                description.addEventListener('click', function() {
                    if (isTooltipVisible) {
                        tooltip.style.display = 'none';
                        description.style.webkitLineClamp = '4';
                        description.style.overflow = 'hidden';
                        isTooltipVisible = false;
                    } else {
                        tooltip.style.display = 'none';
                        description.style.webkitLineClamp = 'unset';
                        description.style.overflow = 'visible';
                        isTooltipVisible = true;
                    }
                });

                description.addEventListener('mouseover', function() {
                    if (!isTooltipVisible) {
                        tooltip.style.display = 'block';
                    }
                });

                description.addEventListener('mouseout', function() {
                    if (!isTooltipVisible) {
                        tooltip.style.display = 'none';
                    }
                });
            });
        });
        document.getElementById('search-bar').addEventListener('input', function() {
            var filter = this.value.toLowerCase();
            var wineItems = document.querySelectorAll('.wine-item');

            wineItems.forEach(function(item) {
                var wineName = item.querySelector('h2').textContent.toLowerCase();
                if (wineName.includes(filter)) {
                    item.style.display = '';
                } else {
                    item.style.display = 'none';
                }
            });
        });

        document.querySelectorAll('.buttonadd').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const form = this.closest('form');
                const url = form.action;
                const formData = new FormData(form);

                fetch(url, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                })
                .then(response => response.json().then(data => ({ status: response.status, body: data })))
                .then(({ status, body }) => {
                    if (status === 200) {
                        document.querySelector('.cart-count').textContent = body.cart_item_count;
                        document.getElementById('ajax-message-box').style.display = 'none';
                    } else {
                        const messageBox = document.getElementById('ajax-message-box');
                        const messageList = document.getElementById('ajax-messages-list');
                        messageList.innerHTML = `<li class="cartadd-error">${body.error}</li>`;
                        messageBox.style.display = 'block';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
    <script>
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        });
    </script>
    <script>
        function toggleFilters() {
            var filterForm = document.getElementById('filter-form');
            filterForm.classList.toggle('show');
        }
    </script>
    </main>
    <div id="editWineModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-5 rounded-lg w-1/2" id="editWineModalContent">
            <h2 class="text-xl font-bold mb-4">Edit Wine</h2>
            <form id="editWineForm" method="post">
                {% csrf_token %}
                <input type="hidden" id="wineId" name="wine_id">
                <div class="mb-4">
                    <label for="wineName" class="block text-sm font-medium text-gray-700">Name</label>
                    <input type="text" id="wineName" name="name" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" style="height: 2.5rem;">
                </div>
                <div class="mb-4">
                    <label for="winePrice" class="block text-sm font-medium text-gray-700">Price (RON)</label>
                    <input type="number" id="winePrice" name="price" step="0.01" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" style="height: 2.5rem;">
                </div>
                <div class="mb-4">
                    <label for="wineQty" class="block text-sm font-medium text-gray-700">Quantity</label>
                    <input type="number" id="wineQty" name="quantity" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" style="height: 2.5rem;">
                </div>
                <div class="flex justify-end">
                    <button type="button" id="closeModal" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancel</button>
                    <button type="button" class="bg-red-500 text-white px-4 py-2 mr-2 rounded" style="font-weight: 500;" onclick="deleteWine()">Delete wine</button>
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function openEditModal(wineId, wineName, winePrice, wineQty) {
            document.getElementById('wineId').value = wineId;
            document.getElementById('wineName').value = wineName;
            document.getElementById('winePrice').value = winePrice;
            document.getElementById('wineQty').value = wineQty;
            document.getElementById('editWineModal').classList.remove('hidden');
        }
    
        document.getElementById('closeModal').addEventListener('click', function() {
            document.getElementById('editWineModal').classList.add('hidden');
        });
    
        document.getElementById('editWineForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const wineId = document.getElementById('wineId').value;
            const wineName = document.getElementById('wineName').value;
            const winePrice = document.getElementById('winePrice').value;
            const wineQty = document.getElementById('wineQty').value;
    
            fetch(`/edit_wine/${wineId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    name: wineName,
                    price: winePrice,
                    quantity: wineQty
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    console.error('Failed to update wine:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    
        document.getElementById('editWineModal').addEventListener('click', function(event) {
            if (event.target === this) {
                this.classList.add('hidden');
            }
        });
    
        function deleteWine() {
            const wineId = document.getElementById('wineId').value;
            fetch(`/edit_wine/${wineId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ action: 'delete' })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    console.error('Failed to delete wine:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <script>
        function deleteWine() {
            const wineId = document.getElementById('wineId').value;
            fetch(`/edit_wine/${wineId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ action: 'delete' })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    window.location.reload();
                } else {
                    console.error('Failed to delete wine:', data);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
{%  include 'my_app/footer.html' %}
</html>

