<!DOCTYPE html>
<html>
<head>
    <title>Wine List</title>
</head>
<body>
    <h1>Wine List</h1>
    <ul>
        {% for wine in wines %}
            <li>
                <h2>Name: {{ wine.Name }}</h2>
                <p>Year: {{ wine.Year }}</p>
                <p>Grapes: {{ wine.Grapes }}</p>
                <p>Country: {{ wine.Country }}</p>
                <p>Region: {{ wine.Region }}</p>
                <p>Description: {{ wine.Description }}</p>
                <p>Quantity available: {{ wine.Qty }} bottles</p>
                <p>Price: {{ wine.Price }} RON</p>
                <form action="{% url 'add_to_cart' 'wine' wine.ID %}" method="post">
                    {% csrf_token %}
                    <label for="quantity">Quantity to order:</label>
                    <input type="number" id="quantity" name="quantity" min="1" value="1">
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>