    .loginbutton{
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 16px 16px 16px 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background-color: #6b1842;
        border-width: 1px;
        border-color: transparent;
        border-radius: 6px;
        transition: background-color 0.2s;
    }
    .loginbutton:hover{
        background-color: #4f0f2b;
        outline:none;

    }
    .section {
            padding: 0px; /*nu inteleg ce legatura are de mi l tot muta*/
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    .signup-from-login{
        color: #546277;
        transition: color 0.2s, text-decoration 0.25s;
        display: inline;
        margin-top: 5px;
        display: inline-block;
    }
    .signup-from-login:hover{
        color: #4f0f2b;
        text-decoration: underline;
    }
    .welcomeback{
        font-size: 40px;
        line-height: 1.25;
        margin: 2px auto 10px auto;

        font-weight: bold;
        color: #6b1842;

    }
    .loginacc{
        font-size: 20px;
        line-height: 1.25;
        margin: 2px auto 10px auto;
        font-weight: bold;
        color: #6b1842;
    }
    .welcombackcontainer{
        background-color: white;
        opacity: 0.85;
        border-radius: 10px;
        max-width: 672px;
        padding-bottom: 2px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }
    .formcontainer{
        background-color: white;
        opacity: 0.85;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .label-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
    }
    .buttonlogin {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 12px 12px 12px 12px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: white;
            transition: background-color 0.2s;
            background-color: #6b1842;
            border-width: 1px;
            border-color: transparent;
            border-radius: 6px;
            cursor: pointer;
        }
    .buttonlogin:hover {
            background-color: #4f0f2b;
        }
    input:focus {
            box-shadow: 0 0 15px #6b1842;
            outline-color: #6b1842;
            outline-offset: 0.25rem;
            outline-style: inherit;
        }